@model Persona

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @Model.Nombre, y tengo @Model.Edad años</h1>
    <h2> No se que hacer en verdad</h2>

    <img id="foto" src="~/imagenes/foto.jpg" alt="Foto de Sebastian"/>
</div>
